<section class="instituicoes">
  <h2>Instituições</h2>

  <div class="instituicao">
    <img src="https://tse2.mm.bing.net/th?id=OIP.ehONkbKNWjIRx4vNi62A8wHaHa&pid=Api" alt="Casa Esperança" />
    <h3>Casa Esperança</h3>
    <p>A Casa Esperança oferece abrigo e suporte para famílias em situação de vulnerabilidade, proporcionando alimentação, atendimento médico e apoio psicossocial.</p>
    <a href="/necessidades"><button class="button-doacao">Doar</button></a>
  </div>

  <div class="instituicao">
    <img src="https://tse2.mm.bing.net/th?id=OIP.0padvQRmoQQSAt6XtxiyDQAAAA&pid=Api" alt="Lar dos Anjos" />
    <h3>Lar dos Anjos</h3>
    <p>O Lar dos Anjos é um orfanato que acolhe crianças abandonadas, oferecendo educação, cuidados básicos e amor para construir um futuro melhor.</p>
    <a href="/necessidades"><button class="button-doacao">Doar</button></a>
  </div>

  <div class="instituicao">
    <img src="https://tse4.mm.bing.net/th?id=OIP.M1xn6EYlyMYG1ke8kZQiUwHaEO&pid=Api" alt="Centro de Reabilitação Vida Nova" />
    <h3>Centro de Reabilitação Vida Nova</h3>
    <p>Este centro oferece tratamento e suporte para dependentes químicos, com programas de desintoxicação, terapia e reintegração social.</p>
    <a href="/necessidades"><button class="button-doacao">Doar</button></a>
  </div>

  <div class="instituicao">
    <img src="https://tse3.mm.bing.net/th?id=OIP.fWrlsTvVdivzIIUI1N2ClQHaHa&pid=Api" alt="Associação Mãos Amigas" />
    <h3>Associação Mãos Amigas</h3>
    <p>A Associação Mãos Amigas realiza diversas ações sociais, como distribuição de cestas básicas, campanhas de agasalho e apoio educacional para comunidades carentes.</p>
    <a href="/necessidades"><button class="button-doacao">Doar</button></a>
  </div>

</section>
