<%- include('partials/header') %>
    <div class="container mt-5">
        <h1>Sure you want to remove your email from our database?</h1>

            <div class="d-flex justify-content-center ">
                <form action="/delete" method="POST">
                    <button type="submit" class="btn btn-danger btn-lg mt-5">delete my account</button>
                </form>
            </div>
        
    </div>
        <%- include('partials/footer') %>