<%- include("partials/header.ejs"); -%>

    <h1>Compose</h1>

    <form action="/compose" method="post">

        <div class="form-group">

            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" name="postTitle" class="form-control" id="exampleFormControlInput1">

            <label for="exampleFormControlTextarea1" class="form-label">Post</label>
            <textarea type="text" class="form-control" name="postBody" id="exampleFormControlTextarea1" rows="5"></textarea>

        </div>
        <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>

<%- include("partials/footer.ejs"); -%>