* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1260px;
    background-color: #17162E;
    margin: 0 auto;
    padding: 2rem;

}

main {
    width: 100%;
}

.containerPesquisa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.marginGeral {
    margin: 5px 0px;
    font-family: 'Kumbh Sans', sans-serif;
}

.caixaTitulo {
    color: white;
    font-size: 24px;
    margin-bottom: 40px;
}

.containerInputPesquisa {
    background-color: rgba(255, 255, 255, 0.2);
    width: 60%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.containerInputPesquisa input {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #FFF;
    font-size: 20px;
}

.containerInputPesquisa img {
    cursor: pointer;
}

.containerInputFavoritos{
    color: white;
    flex-direction: column;
}

.containerFilmes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filmes {
    max-width: 1048px;
    background-color: #1D1C3B;
    box-shadow: 8px 8px 20px 0.1px rgba(0, 0, 0, 0.24);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 30px auto 0;
}

.caixaFotoFilme {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.caixaFotoFilme img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.caixaNomeFilme {
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaNomeFilme h2 {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

.caixaFavStar {
    display: flex;
    flex-direction: column;
}

.caixaEstrelaFilme {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.caixaEstrelaFilme p {
    margin: 15px 10px;
}

.caixaEstrelaFilme .space {
    margin-right: 30px;
}

.caixaEstrelaFilme p {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: #FFFFFF;
}

.CaixaDescricaoFilme {
    width: 50%;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: left;
    color: #ACACAC;

    display: flex;
    align-items: center;
    justify-content: center;
}