@tailwind base;
@tailwind components;
@tailwind utilities;


.hoverClick {
    @apply bg-BaseGreen-400 text-BaseGreen-900 border border-BaseGreen-900;
}

.active {
    color: #71e4b4;
}

.activeCard {
    background-color: #71e4b4;
}

.icons .activeCard::before {
    background-color: #71e4b4;
}

.lineCard::before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 96px;
    background-color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

@keyframes pulse-swing {
    0% {
        transform: translateY(0) rotate(0);
    }
    25% {
        transform: translateY(-15px) rotate(0);
    }
    50% {
        transform: translateY(10px) rotate(0);
    }
    75% {
        transform: translateY(-5px) rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

.animate-pulse-swing {
    animation: pulse-swing 3s ease-in-out infinite;
}