@tailwind base;
@tailwind components;
@tailwind utilities;


.hoverClick {
    @apply hover:bg-BaseGreen-400 hover:text-BaseGreen-900 hover:border hover:border-BaseGreen-900;
}

.active { 
    color: #71e4b4;
}

.activeCard {
    background-color: #71e4b4;
}

.icons .activeCard::before {
    background-color: #71e4b4;
}

.lineCard::before {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 96px;
    background-color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}